* {
  font-family: "Lato", sans-serif;
}
.button {
  border-radius: 50px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  border: none;
  padding: 16px 40px;
  cursor: pointer;
}
.header-part {
  height: 850px;
  width: 1920px;
  /* height: 100vh; */
  background-color: rgba(229, 84, 115, 0.1);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.header-left {
  width: 50%;
  margin-left: 150px;
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
  padding-top: 30px;
}
.parargraph {
  text-align: justify;
  padding: 2px;
  font-size: 20px;
}
.header-right {
  margin-right: 300px;
  /* margin-bottom: 0px; */
  padding-top: 50px;
}
.border {
  width: 80%;
  background-color: #e55473;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
}
.title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 100px;
}
.Our-Featured-Flowers{
  padding-top: 20px;
}
.featured-paragraph{
  color: #272727;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  margin-top: -10px;
}
.threeflowers{
  padding: 100px 200px 0px 200px;
}


.firstflower{
  width: 464px;
  height: 538px;
  background-color:rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  display: flex;
  /* padding-bottom: -200px; */
  margin-bottom: -20px;
  
}
.first{
line-height: 300px;
}
.flowername{

}