*{
  font-family: 'Lato', sans-serif;
}
.button{

}
.header-part {
  height: 850px;
  width: 1920px;
  /* height: 100vh; */
  background-color: rgba(229, 84, 115, 0.1);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.header-left {
  width: 50%;
  margin-left: 150px;
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
  padding-top: 30px;
}
.header-right {
  margin-right: 500px;
  /* margin-bottom: 0px; */
  padding-top: 50px;

}
